@CHARSET "UTF-8";

body {
	background-image: url(../images/c4/kitchen-table.jpg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    text-align:center;
}

#c4body1 {
	background-image: url(../images/c4/kitchen-table.jpg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    text-align:center;
}

#c4body2 {
	background-image: url(../images/c4/park.jpg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    text-align:center;
}

#c4body3 {
	background-image: url(../images/c4/beach3.jpg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    text-align:center;
}

#introBody {
	background-image: url(../images/c4/c4.jpg);
    background-size:     contain;            
    background-repeat:   no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-color: #f5f3f4;
    text-align:center;
}

#c4OptionTable {  
	margin-left:auto; 
    margin-right:auto;
    background-color: #e6e6e6; 
    /*background-color: #f5f3f4;*/
	border-radius: 6px;
    padding: 0px 25px 25px 25px;  
    align:right;
    opacity: 0.9;
    font-size: 20px;
    text-align: left;
}

#connect4Outer {  
	border-collapse:collapse;	/* removes the table border */
	margin-left:auto; 
    margin-right:auto;
    text-align:center;
}

#connect4 {  
	border-width: 8px;			/* places a border around the board */
    border-style: outset;
	margin-left:auto; 
    margin-right:auto; 
    /*background-color: #0080ff;*/  	/* light blue color of the board */
    
    line-height: 0;
    margin:0;
    padding: 0;
}

#connect4 tr td {  
	padding: 0;		/* removes the white space around each board slot (in IE browser only*/
	margin: 0;

	/*text-align: center;
	vertical-align:top;
	font-size:0;
	letter-spacing:0;
	line-height:0;
	margin:0;
	box-sizing: content-box;
    right:-1px;
    padding-right:-1px;*/
}

.c4ColumnButton {
    background-color: #e6e6e6;		/* light gray */
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}

.c4ColumnButton:hover {
    background-color: #b3b3b3;		/* darker gray */
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}

.c4ColumnButton:disabled {
    background-color: #ebebe4;	/* disabled gray */
    color: gray;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}

.c4LinkButton {
    background-color: #e6e6e6;
    border-width: 1px;
    border-style: outset;
    color: black;
    padding: 3px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}

.c4LinkButton:hover {
    background-color: #b3b3b3;		/* darker gray */
    border-width: 1px;
    border-style: outset;
    color: black;
    padding: 3px 12px;
    text-decoration: none;
	display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}

.c4ComputerButton {
    background-color: #ebebe4;		/* light gray */
    color: gray;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}

.c4where {
	font-size: 16px;
}
